body,
html {
    font-family: Arial, Verdana, Sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

body {
    background: url(/res/deep_ui/bg.png) center top no-repeat;
    background-size: cover;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.top-block {
    padding: 17px;
    width: 800px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.top-block header {
    -webkit-transform: translateY(-48%);
    -ms-transform: translateY(-48%);
    transform: translateY(-48%);
}

.top-block main {
    margin-top: -50px;
}

.top-block main a {
    display: inline-block;
    margin: 3px;
}

.top-block main h5 {
    text-align: center;
    margin-left: 50px;
    font-size: 17px;
}

#github-repos .deep-btn {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
}

line,
path {
    stroke: wheat !important;
}

#weight-wrap span {
    color: wheat;
}

.hide {
    display: none !important;
}

#github_icon {
    height: 50px;
}

.bottom-icons {
    text-align: center;
}

.bottom-icons>a {
    text-decoration: none;
}

.bottom-icons>a>img {
    height: 50px;
    margin: 10px;
}

.main-area {
    max-width: 1000px;
    padding: 30px;
    text-align: left;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px;
    margin-bottom: 30px;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#big-title {
    color: #333;
    margin-top: 0px;
}

#weight-wrap {
    /*    background-color: rgba(255, 255, 255, 0.3);*/
    max-width: 860px;
    padding-left: 18px;
    margin: auto;
}

#github-repos {
    max-width: 800px;
    margin: auto;
    margin-top: 0px;
}

.repo {
    font-size: 12px !important;
    padding: 0 3px !important;
    margin: 0 !important;
}

.deep-btn {
    cursor: pointer;
}
.clickable{
    cursor: pointer;
}

.pinned-repos-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
}

.pinned-repo-item {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    float: left;
    text-align: left;       
    border-style: solid;
    border-width: 40px 46px 43px 35px;
    -moz-border-image: url(../img/item_icon_cropped.png) 80 93 87 70 stretch;
    -webkit-border-image: url(../img/item_icon_cropped.png) 80 93 87 70 stretch;
    -o-border-image: url(../img/item_icon_cropped.png) 80 93 87 70 stretch;
    border-image: url(../img/item_icon_cropped.png) 80 93 87 70 fill stretch;
    position: relative; 
    height: 128px;
}

.pinned-repo-item:nth-child(3n+1),
.pinned-repo-item:nth-child(3n+2) {
    
}
.pinned-repo-item-content{
    position: absolute;
    top: -20px;
    left: -13px;
    width: 180px;    
}
.pinned-repo-item a {
    color: white;
}

.pinned-repo-item a span {
    font-size: 18px !important;
}

.pinned-repo-item .text-gray {
    font-size: 12px;
}

#popular-repos {
    max-width: 790px;
    margin: auto;
    margin-bottom: 15px;
}